// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bgGrey: #29292a;
$white: #ffffff;

nav-item:hover, dropdown-item:hover{
  color: $blue
}
.parallax {
  /* The image used */

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue{
  color: $blue;
}
.menuFont{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
.bggrey{
  background-color: $bgGrey;
}
.carBack{
  background-image: urL("/img/mecharengar.jpg");
   height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footerLink{
  color: $white;
}
.footerBg{
  background-color: #1e1e1e;
}

.copyBg{
  background-color: #505152;
}
.bgWhite{
  background-color: $white;
}
.dropdown{
  height: auto !important;
  overflow: visible !important;
}
a.footerLink:hover{
  color: #357edd;
}
.footerTitle{
  color: #357edd;
  font-family: "Open Sane", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  font-style: normal;

}
.indigo{
  color: $indigo;
}
.white{
  color: $white;
}
.purple{
  color: $purple;
}

.pink{
  color: $pink;
}

.red{
  color: $red;
}

.orange{
  color: $orange;
}

.yellow{
  color: $yellow;
}

.green{
  color: $green;
}

.teal{
  color: $teal;
}

.cyan{
  color: $cyan;
}

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);
